<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <!--<?define Fuse.Installer.Gui.TargetPath = "" ?>-->
  <Bundle Name="!(bind.packageName.FuseInstaller)"
          Version="!(bind.packageVersion.FuseInstaller)"
          Manufacturer="!(bind.packageManufacturer.FuseInstaller)"
          UpgradeCode="E2AFB447-60CF-4CC1-8DBD-00CE4DFB49B2"
          DisableModify="yes"
          IconSourceFile="$(var.SolutionDir)\..\..\Source\Outracks.Fuse.Startup-Windows\Fuse.ico">
          
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="$(var.Fuse.Installer.Gui.TargetPath)" />
      <Payload SourceFile="$(var.Fuse.Installer.Gui.TargetDir)BootstrapperCore.dll" />
      <Payload SourceFile="$(var.Fuse.Installer.Gui.TargetDir)BootstrapperCore.config" />
      <Payload SourceFile="$(var.Fuse.Installer.Gui.TargetDir)Microsoft.Practices.Prism.dll" />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetFx451Redist" />

    <Chain>
      <PackageGroupRef Id="NetFx451Redist" />
      <PackageGroupRef Id="vcredist2010" />
      <PackageGroupRef Id="vcredist2012" />
      <PackageGroupRef Id="vcredist2013" />
      <RollbackBoundary />
      <MsiPackage Id="FuseInstaller"
                  Cache="no"
                  Compressed="yes"
                  Vital="yes"
                  Name="Fuse.msi"
                  SourceFile="$(var.Fuse.Installer.Product.TargetPath)"
                  ForcePerMachine="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="REINSTALLMODE" Value="amus"/> <!-- TODO: This is deprecated, removed in Wix 4.x -->
      </MsiPackage>
    </Chain>
  </Bundle>

</Wix>