<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FuseOpen.Uno.Common" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Configuration" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Runtime.Core" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Stuff" version="1.10.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="OpenTK" version="2.0.0" targetFramework="net45" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net45" />
</packages>