<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FuseOpen.Uno.Common" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Compiler.API" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Compiler.Frontend" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Configuration" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.ProjectFormat" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Runtime.Core" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.Stuff" version="1.10.0-rc1" targetFramework="net45" />
  <package id="FuseOpen.Uno.UX.Markup.Common" version="1.10.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="Minimatch" version="1.1.0.0" targetFramework="net45" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net45" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="plist-cil" version="1.16.0" targetFramework="net45" />
  <package id="QRCoder" version="1.3.2" targetFramework="net45" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net45" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net45" />
</packages>